/*

Colors

paler cornflowerblue: #A3C3FF
cornflowerblue:       #6495ED

*/

/* reset CSS */

body, header, main, section, article, footer, p, img, span, div, form, 
label, input, ul , li, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	font-family: Verdana, Helvetica, sans-serif;
	margin: 0 auto;
	width: 90%;
	min-width: 1024px;
	background-color: #fcfdff;	
}

li {
	list-style: none;
}

p { 
	margin-top: 50px
}

#wrapper {
	margin: 20px auto;
	width: 100%;
}

.displayNone {
	display: none;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5, h6 {
	font-size: 1.2em;
}

.ajouter {
	font-weight: 900;
	font-size: 1.2em;
}

#wrapper h2 {
	margin-bottom: 40px;
}


/* liste des presentations
   ------------------ */

#wrapper p {
	margin: 20px 0;
}

[data-action] {
	color: cornflowerblue;
	cursor: pointer;
}

[data-action]:hover {
	color: blue;
	text-decoration: underline;
}

#wrapper h3 {	
	padding: 20px 0 20px 20px;
	border: 1px solid black;
	background-color: cornflowerblue;
}

#wrapper h3, #wrapper h4 {
	border-radius: 5px;
	width: 40%;
}

#wrapper h3:hover {
	background-color: cornflowerblue;
}

#wrapper h4 {
	padding: 20px 0 20px 20px;
}

#wrapper h4:hover {
	background-color: #A3C3FF;
}

.presentation span:nth-child(3) {
	padding-right: 20px;
}

.presentation h5 {
	margin: 40px 0 40px 60px;
}

.presentation h6 {
	display: inline;
	margin: 0 60px 0 60px;
}

.presentation h5, .presentation h6, .presentation span {
	font-weight: normal;
}

.presentation h5 span {
	font-weight: bold;
}


/* formulaires 
   ----------- */

label, input {
	display: block;
	box-sizing: border-box;
	margin-bottom: 5px;
}

input {
	display: inline-block;
	margin-bottom: 40px;
	padding: 8px;
	width: 300px;
	font-size: 16px;
	font-family: Verdana, Helvetica, sans-serif;
}

input[type="button"] {
	display: block;
}

form span {
	display: inline-block;
	padding-left: 10px;
	color: brown;
}